body,
html,
main,
section,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
    display: grid;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    grid-template-columns: repeat(5, 1fr);
}

.home-page {
    line-height: 1.5;
    place-content: center;
    align-content: center;
    text-align: center;
}

.page-top-intro {
    grid-row: 1;
    border: 3px solid black;
}